In [10]:
// data loaded into a file.
var data=sc.textFile("user_4")

Waiting for a Spark session to start...

data = user_4 MapPartitionsRDD[1] at textFile at <console>:28

lastException: Throwable = null

user_4 MapPartitionsRDD[1] at textFile at <console>:28

In [11]:
//as data has 4 column with spaces we are splitting the data into 4 columns.
var mapped_input=data.map(x=>x.split("\t")(2))

mapped_input = MapPartitionsRDD[2] at map at <console>:28

MapPartitionsRDD[2] at map at <console>:28

In [12]:
//create  a tuple of the data so add a tuple key which can be added and  then total count can be used.
val tupled=mapped_input.map(x=>(x,1))

tupled = MapPartitionsRDD[3] at map at <console>:28

MapPartitionsRDD[3] at map at <console>:28

tupled.collect

In [13]:
tupled.collect

Array((3,1), (3,1), (1,1), (2,1), (1,1), (4,1), (2,1), (5,1), (3,1), (3,1), (2,1), (5,1), (5,1), (3,1), (3,1), (3,1), (5,1), (2,1), (4,1), (2,1), (4,1), (4,1), (4,1), (2,1), (4,1), (2,1), (5,1), (2,1), (4,1), (5,1), (3,1), (4,1), (4,1), (4,1), (3,1), (4,1), (1,1), (5,1), (1,1), (4,1), (4,1), (4,1), (2,1), (3,1), (5,1), (5,1), (5,1), (5,1), (5,1), (3,1), (4,1), (2,1), (4,1), (5,1), (5,1), (2,1), (4,1), (5,1), (5,1), (4,1), (3,1), (1,1), (4,1), (3,1), (4,1), (5,1), (1,1), (5,1), (5,1), (4,1), (4,1), (3,1), (1,1), (3,1), (4,1), (2,1), (4,1), (3,1), (3,1), (5,1), (5,1), (3,1), (5,1), (3,1), (5,1), (4,1), (5,1), (3,1), (4,1), (4,1), (4,1), (4,1), (4,1), (5,1), (2,1), (5,1), (4,1), (3,1), (4,1), (4,1), (3,1), (5,1), (4,1), (3,1), (4,1), (5,1), (4,1), (5,1), (5,1)...

In [14]:
//reduce by key use to add all the strings
val format_data=tupled.reduceByKey((x,y)=>x+y)

format_data = ShuffledRDD[4] at reduceByKey at <console>:28

ShuffledRDD[4] at reduceByKey at <console>:28

In [15]:
val sorted_data=format_data.sortBy(x=>x._2)

sorted_data = MapPartitionsRDD[9] at sortBy at <console>:27

MapPartitionsRDD[9] at sortBy at <console>:27

In [16]:
sorted_data.collect

Array((1,6110), (2,11370), (5,21201), (3,27145), (4,34174))

In [17]:
// we can also use count by value which is very helpful but it is not a transoformation but a action which happens to be i
// all the data in local
// which means after using this action all the data will be loaded in local no parallelism

Syntax Error.:

In [18]:
val results=tupled.countByValue
// as we can see it is creaating a output directly

results = Map((4,1) -> 34174, (2,1) -> 11370, (5,1) -> 21201, (1,1) -> 6110, (3,1) -> 27145)

Map((4,1) -> 34174, (2,1) -> 11370, (5,1) -> 21201, (1,1) -> 6110, (3,1) -> 27145)

In [19]:
results.collect

Unknown Error: <console>:28: error: missing argument list for method collect in trait TraversableLike
Unapplied methods are only converted to functions when a function type is expected.
You can make this conversion explicit by writing `collect _` or `collect(_)(_)` instead of `collect`.
       results.collect
               ^